<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token" value="CAAHrhTtfZBdsBAJwcsHqcRYZCguJooxAV02pLmMe0Ub0S8wPfRID8RrgtJNy4fd8woYggn4h8RLH7NlwrkzNkWKmP1J7QXSz5tUPIn9hSa68tuKZBTV1maZCf3vO0ED0pS8eqE3VDFZBWGlmSnsZCip0K3IvOugaDJOPqQtpNYtd5GrYWDo8N7Es2XfCclADPne2YMyQom7bPvo1HGg7oe"/>
    <add key="autologin" value="true" />
    <add key="LogClassID" value="TxtFileLogger" />
  </appSettings>

</configuration>